<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>About</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-12">
                        <label>This software system was designed and programmed by</label> <strong style="color: cornflowerblue;"> Plancksoft </strong>

                    </div>
                    <div class="col-lg-12">
                        <label>For inquiries and maintenance, please contact the number below:</label> <strong style="color: cornflowerblue;"> +962 77 64 721 66 </strong>

                    </div>

                    <!-- <div class="col-md-12" style=" margin-top: 10px; text-align: center;">
                        <div class="buttons-row">
                            <button class="col-md-4" nbButton status="primary">
                                Activate
                            </button>
                            &nbsp;
                            <button class="col-md-4" nbButton status="danger">
                                Clear
                            </button>
                            &nbsp; -->
                            <!-- <button class="col-md-4" nbButton>
                                Close
                            </button> -->
                        <!-- </div>
                    </div> -->
                    
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>