<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>{{ "GENERALWORDS.EXAPNCELOOKUP" | translate }}</nb-card-header>
      <nb-card-body>
        <!-- Top form layout -->
        <div class="row gx-3 gy-3 align-items-end" [formGroup]="Expense">
          <!-- Expense Name -->
          <div class="col-12 col-sm-6 col-md-auto">
            <label class="form-label">{{ "GENERALWORDS.EXPENSENAME" | translate }}</label>
            <input
              type="text"
              nbInput
              formControlName="Expensename"
              placeholder="{{ 'GENERALWORDS.EXPENSENAME' | translate }}"
              style="width: 100%; max-width: 15rem;"
            />
          </div>

          <!-- Employee Name -->
          <div class="col-12 col-sm-6 col-md-auto">
            <label class="form-label">{{ "GENERALWORDS.EMPLOYEENAME" | translate }}</label>
            <nb-select
              placeholder="{{ 'GENERALWORDS.EMPLOYEENAME' | translate }}"
              (selectedChange)="onSelectChange($event)"
              style="width: 100%; max-width: 15rem;"
            >
              <nb-option *ngFor="let data of data" [value]="data.data.EmployeeID">
                {{ data.data.EmployeeName }}
              </nb-option>
            </nb-select>
          </div>

          <!-- Production Date -->
          <div class="col-12 col-sm-6 col-md-auto">
            <label class="form-label">{{ "GENERALWORDS.DATE1" | translate }}</label>
            <input
              nbInput
              formControlName="Date1"
              placeholder="dd-MM-yyyy"
              [nbDatepicker]="Date1"
              style="width: 100%; max-width: 15rem;"
            />
            <nb-datepicker #Date1></nb-datepicker>
          </div>

          <!-- Expiration Date -->
          <div class="col-12 col-sm-6 col-md-auto">
            <label class="form-label">{{ "GENERALWORDS.DATE2" | translate }}</label>
            <input
              nbInput
              formControlName="Date2"
              placeholder="dd-MM-yyyy"
              [nbDatepicker]="Date2"
              style="width: 100%; max-width: 15rem;"
            />
            <nb-datepicker #Date2></nb-datepicker>
          </div>

          <!-- Search Button -->
          <div class="col-12 col-sm-6 col-md-auto">
            <button nbButton status="primary" (click)="SearchData()" class="w-100 w-md-auto">
              {{ "GENERALWORDS.SEARCH" | translate }}
            </button>
          </div>
        </div>

        <!-- Action + search row -->
        <div class="row mt-4 gx-3 gy-2">
          <!-- Add Expense -->
          <div class="col-12 col-md-6">
            <button
              nbButton
              status="primary"
              (click)="button()"
              class="w-100 w-md-auto"
            >
              {{ "GENERALWORDS.ADDEXPENSE" | translate }}
            </button>
          </div>

          <!-- Search Input -->
          <div class="col-12 col-md-6">
            <input
              nbInput
              [nbFilterInput]="dataSource"
              placeholder="{{ 'GENERALWORDS.SEARCH' | translate }}"
              id="search"
              class="search-input"
              style="width: 100%;"
            />
          </div>
        </div>

        <!-- Data Table -->
        <div class="row mt-4">
          <div class="col-lg-12">
            <table
              [nbTreeGrid]="dataSource"
              [nbSort]="dataSource"
              (sort)="updateSort($event)"
            >
              <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
              <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

              <ng-container [nbTreeGridColumnDef]="'ExpenseID'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]="getSortDirection('ExpenseID')">
                  {{ "GENERALWORDS.EXPENSEID" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data.ExpenseID || "-" }}
                </td>
              </ng-container>

              <ng-container [nbTreeGridColumnDef]="'ExpenseName'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]="getSortDirection('ExpenseName')">
                  {{ "GENERALWORDS.EXPENSENAME" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["ExpanseName"] || "-" }}
                </td>
              </ng-container>

              <ng-container [nbTreeGridColumnDef]="'ExpenseCost'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]="getSortDirection('ExpenseCost')">
                  {{ "GENERALWORDS.EXPENSECOST" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["cost"] || "-" }}
                </td>
              </ng-container>

              <ng-container [nbTreeGridColumnDef]="'UserID'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]="getSortDirection('UserID')">
                  {{ "GENERALWORDS.USERID" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["UserId"] || "-" }}
                </td>
              </ng-container>

              <ng-container [nbTreeGridColumnDef]="'ExpenseDate'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]="getSortDirection('ExpenseDate')">
                  {{ "GENERALWORDS.DATE" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["Date"] | date : "dd-MM-yyyy" || "-" }}
                </td>
              </ng-container>

              <ng-container [nbTreeGridColumnDef]="'CurrentQuantity'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]="getSortDirection('CurrentQuantity')">
                  {{ "GENERALWORDS.CURRENTQUANTITY" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["Current"] || "-" }}
                </td>
              </ng-container>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>