<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Add an Item Type to Printer</nb-card-header>
            <nb-card-body>
                <div class="row">

                    <div class="col-lg-12">
                        <label>Item Types</label>
                    </div>
                    <div class="col-lg-12">
                        <nb-select placeholder="Item Types" style="width: 20rem;">
                            <nb-option value="option1">Option 1</nb-option>
                            <nb-option value="option2">Option 2</nb-option>
                            <nb-option value="option3">Option 3</nb-option>
                        </nb-select>
                    </div>

                    <div class="col-md-12" style=" margin-top: 10px; ">
                        <div class="buttons-row">
                            <button class="col-md-3" nbButton status="primary">
                                Add Type
                            </button>
                            &nbsp;
                            <button class="col-md-3" nbButton status="danger">
                                Clear
                            </button>
                        </div>
                    </div>

                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>