<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>{{ "GENERALWORDS.ITEMTYPE" | translate }}</nb-card-header>
      <nb-card-body>
        <div class="row" [formGroup]="itemGroup">
          <div class="col-lg-12">
            <label class="col-lg-12">{{
              "GENERALWORDS.ITEMTYPE" | translate
            }}</label>
            <input
              type="text"
              class="col-lg-5"
              formControlName="itemtype"
              nbInput
              fullWidth
              shape="rectangle"
              placeholder="{{ 'GENERALWORDS.ITEMTYPE' | translate }}"
            />
          </div>

          <div class="col-lg-12 mt-3">
            <div class="buttons-row">
              <button
                class="col-md-2"
                nbButton
                status="primary"
                (click)="SubmitData()"
                *ngIf="!Check"
              >
                {{ "GENERALWORDS.ADDITEMTYPE" | translate }}
              </button>
              &nbsp;
              <button
                *ngIf="Check"
                class="col-md-2"
                nbButton
                status="danger"
                (click)="Updatedata()"
              >
                {{ "GENERALWORDS.UPDATEITEM" | translate }}
              </button>
            </div>
          </div>

          <div class="col-lg-12" style="margin-top: 20px">
            <div class="row">
              <div class="col-lg-8"></div>
              <div class="col-lg-4" style="margin-bottom: 10px">
                <input
                  nbInput
                  [nbFilterInput]="dataSource"
                  placeholder="{{ 'GENERALWORDS.SEARCH' | translate }}"
                  id="search"
                  style="width: 20rem;"
                  class="search-input"
                />
              </div>
            </div>
            <table
              [nbTreeGrid]="dataSource"
              [nbSort]="dataSource"
              (sort)="updateSort($event)"
            >
              <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
              <tr
                nbTreeGridRow
                *nbTreeGridRowDef="let row; columns: allColumns"
              ></tr>

              <ng-container [nbTreeGridColumnDef]="'Item ID'">
                <th
                  nbTreeGridHeaderCell
                  [nbSortHeader]="getSortDirection('ItemID')"
                  *nbTreeGridHeaderCellDef
                >
                  {{ "GENERALWORDS.ITEMID" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data.id || "-" }}
                </td>
              </ng-container>
              <ng-container [nbTreeGridColumnDef]="'Item Name'">
                <th
                  nbTreeGridHeaderCell
                  [nbSortHeader]="getSortDirection('ItemName')"
                  *nbTreeGridHeaderCellDef
                >
                  {{ "GENERALWORDS.ITEMNAME" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["ItemName"] || "-" }}
                </td>
              </ng-container>

              <ng-container [nbTreeGridColumnDef]="'Action'">
                <th
                  nbTreeGridHeaderCell
                  [nbSortHeader]="getSortDirection('Action')"
                  *nbTreeGridHeaderCellDef
                >
                  {{ "GENERALWORDS.ACTION" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  <a (click)="Update(row.data.id)"
                    ><i class="nb-edit" style="font-size: 20px"></i
                  ></a>
                  &nbsp;
                  <a (click)="delete(row.data.id)"
                    ><i
                      class="nb-trash"
                      style="font-size: 20px; color: orangered"
                    ></i
                  ></a>
                </td>
              </ng-container>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
