<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <img [src]="imageSrc" style="width: 100px; height: 100px" />
    <a class="logo" href="#" (click)="navigateHome()">{{Storename}}<span></span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <div (click)="changeLayout()" *ngIf="this.direction == NbLayoutDirection.RTL">
        <strong>English</strong>
      </div>
      <div *ngIf="this.direction == NbLayoutDirection.LTR" (click)="changeLayout()">
        <strong style="color: rgb(249, 249, 249); font-size: 17px;">عربي</strong>
      </div>
    </nb-action>

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user (click)="logoutFn($event)" [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="userID" [picture]="picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>