<div class="row" style="max-height: 38rem">
  <div class="col-lg-12">
    <nb-card-body>
      <div *ngIf="this.pickbilltable == 1">
        <div class="row mt-3">
          <div class="col-lg-2"></div>
          <div class="col-lg-4">
            <!-- <label>{{ "GENERALWORDS.CLIENTNAME" | translate }}</label> -->
            <nb-select
              placeholder="{{ 'GENERALWORDS.CLIENTNAME' | translate }}"
              (selectedChange)="onSelectionChange($event)"
              style="width: 17rem"
            >
              <nb-option [value]="0">None</nb-option>
              <nb-option
                *ngFor="let data of clientdata"
                [value]="data.data.ClientID"
                >{{ data.data.ClientName }}</nb-option
              >
            </nb-select>
          </div>

          <div class="col-lg-4">
            <input
              nbInput
              [nbFilterInput]="dataSource"
              placeholder="{{ 'GENERALWORDS.SEARCH' | translate }}"
              id="search"
              class="search-input"
              style="width: 17rem; margin-left: 55px"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <table
              [nbTreeGrid]="dataSource"
              [nbSort]="dataSource"
              (sort)="updateSort($event)"
            >
              <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
              <tr
                nbTreeGridRow
                *nbTreeGridRowDef="let row; columns: allColumns"
              ></tr>
              <ng-container [nbTreeGridColumnDef]="'BillNumber'">
                <th
                  nbTreeGridHeaderCell
                  [nbSortHeader]="getSortDirection('BillNumber')"
                  *nbTreeGridHeaderCellDef
                >
                  {{ "GENERALWORDS.BILLNUMBER" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data.BillNumber || "-" }}
                </td>
              </ng-container>
              <ng-container [nbTreeGridColumnDef]="'CashierName'">
                <th
                  nbTreeGridHeaderCell
                  [nbSortHeader]="getSortDirection('CashierName')"
                  *nbTreeGridHeaderCellDef
                >
                  {{ "GENERALWORDS.CASHIERNAME" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["CashierName"] || "-" }}
                </td>
              </ng-container>
              <ng-container [nbTreeGridColumnDef]="'ClientName'">
                <th
                  nbTreeGridHeaderCell
                  [nbSortHeader]="getSortDirection('ClientName')"
                  *nbTreeGridHeaderCellDef
                >
                  {{ "GENERALWORDS.CLIENTNAME" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["ClientName"] || "-" }}
                </td>
              </ng-container>


              <ng-container [nbTreeGridColumnDef]="'Date'">
                <th
                  nbTreeGridHeaderCell
                  [nbSortHeader]="getSortDirection('Date')"
                  *nbTreeGridHeaderCellDef
                >
                  {{ "GENERALWORDS.DATE" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  {{ row.data["Date"] | date : "dd-MM-yyyy" || "-" }}
                </td>
              </ng-container>



              <ng-container [nbTreeGridColumnDef]="'Action'">
                <th
                  nbTreeGridHeaderCell
                  [nbSortHeader]="getSortDirection('Action')"
                  *nbTreeGridHeaderCellDef
                >
                  {{ "GENERALWORDS.ACTION" | translate }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  <a
                    ><i
                      class="nb-edit"
                      (click)="Bill(row.data.BillNumber)"
                      style="font-size: 20px"
                    ></i
                  ></a>
                </td>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="this.pickitemtable == 2">
        <div class="row mt-3">
          <div class="col-lg-8 mb-3"></div>

          <div class="col-lg-4 mb-3">
            <input
              nbInput
              [nbFilterInput]="dataSource1"
              placeholder="{{ 'GENERALWORDS.SEARCH' | translate }}"
              id="search"
              class="search-input"
              style="float: right; width: 100%; margin-top: 23px"
            />
          </div>

          <table
            [nbTreeGrid]="dataSource1"
            [nbSort]="dataSource1"
            (sort)="updateSort2($event)"
          >
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns1"></tr>
            <tr
              nbTreeGridRow
              *nbTreeGridRowDef="let row; columns: allColumns1"
            ></tr>
            <ng-container [nbTreeGridColumnDef]="'Item Name'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('Item Name')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.ITEMNAME" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data.ItemName || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'Item Barcode'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('Item Barcode')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.ITEMBARCODE" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["ItemBarcode"] || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'Sold Quantity'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('Sold Quantity')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.SOLDQUANTITY" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["ItemQuantity"] || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'Item Price After Tax'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('Item Price After Tax')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.ITEMPRICETAX" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["ItemPriceTax"] || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'Action'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('Action')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.ACTION" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                <a
                  ><i
                    class="nb-edit"
                    (click)="pickitem(row.data.ItemBarcode)"
                    style="font-size: 20px"
                  ></i
                ></a>
              </td>
            </ng-container>
          </table>
        </div>
      </div>
      <div *ngIf="this.updatequantity == 3">

        <div class="row" [formGroup]="firstformgroup">
          <div class="col-lg-12">
            <label>{{ "GENERALWORDS.ITEMNAME" | translate }}</label>
            <input
              type="text"
              nbInput
              fullWidth
              readonly
              shape="rectangle"
              placeholder="{{ 'GENERALWORDS.ITEMNAME' | translate }}"
              formControlName="ItemName"
            />
          </div>
          <div class="col-lg-12 mt-2">
            <label>{{ "GENERALWORDS.ITEMBARCODE" | translate }}</label>
            <input
              type="number"
              nbInput
              fullWidth
              readonly
              shape="rectangle"
              placeholder="{{ 'GENERALWORDS.ITEMBARCODE' | translate }}"
              formControlName="ItemBarCode"
            />
          </div>

          <div class="col-lg-12">
            <label>{{ "GENERALWORDS.ITEMQUANTITY" | translate }}</label>
            <input
              type="number"
              nbInput
              fullWidth
              readonly
              shape="rectangle"
              placeholder="{{ 'GENERALWORDS.ITEMQUANTITY' | translate }}"
              formControlName="ItemQuantity"
            />
          </div>
          <div class="col-lg-12">
            <label>{{ "GENERALWORDS.ITEMQUANTITYRETURN" | translate }}</label>
            <input
              type="number"
              nbInput
              required
              fullWidth
              shape="rectangle"
              placeholder="{{ 'GENERALWORDS.ITEMQUANTITYRETURN' | translate }}"
              formControlName="ReturnQuantity"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-top: 20px; text-align: end">
            <div class="buttons-row">
              <button
                class="col-md-2"
                nbButton
                status="primary"
                (click)="submit()"
              >
                {{ "GENERALWORDS.SUBMIT" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </div>
</div>
