<nb-card size="giant" style="max-height: 30rem">
  <!-- <nb-tabset fullWidth> -->
    <nb-card-header>Client Detail</nb-card-header>
    <nb-card-body >

    <!-- <nb-tab tabTitle="Clent Detail"> -->
      <nb-list>
        <nb-list-item class="contact" *ngFor="let c of contacts">
          <nb-user  [name]="c.data.ClientName" [title]="c.data.ClientPhone" size="large"></nb-user>
          <nb-icon icon="phone-outline" pack="eva"></nb-icon>
        </nb-list-item>
      </nb-list>
    <!-- </nb-tab> -->

    <!-- <nb-tab tabTitle="Recent">
      <nb-list>
        <nb-list-item class="contact" *ngFor="let c of recent">
          <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
          <span class="caption">{{ c.time | date: 'shortTime' }}</span>
        </nb-list-item>
      </nb-list>
    </nb-tab> -->

  <!-- </nb-tabset> -->
    </nb-card-body>
</nb-card>
