<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>{{
        "GENERALWORDS.IMCOMMINGOUTGOINGSALES" | translate
      }}</nb-card-header>
      <nb-card-body>
        <div class="row mb-4 align-items-end" [formGroup]="IncomingData">
          <div class="col-md-3 mt-2" style="display: flex; flex-direction: column; align-items: start;">
            <label>{{ "GENERALWORDS.DATE1" | translate }}</label>

            <input
              style="width: 17rem"
              nbInput
              formControlName='Date1'
              placeholder='{{ "GENERALWORDS.DATE1" | translate }}'
              [nbDatepicker]="Date1"
            />
            <nb-datepicker #Date1></nb-datepicker>
          </div>

          <div class="col-md-3 mt-2" style="display: flex; flex-direction: column; align-items: start;">
            <label>{{ "GENERALWORDS.DATE2" | translate }}</label>

            <input
              style="width: 17rem"
              nbInput
              formControlName="Date2"
              placeholder='{{ "GENERALWORDS.DATE2" | translate }}'
              [nbDatepicker]="Date2"
            />
            <nb-datepicker #Date2></nb-datepicker>
          </div>

            <div class="col-md-12" style="margin-top: 28px; text-align: end">
              <div class="buttons-row">
                <button
                  class="col-md-2"
                  nbButton
                  status="primary"
                  (click)="SearchIncoming()"
                >
                {{ "GENERALWORDS.SEARCH" | translate }}
                </button>
              </div>
            </div>

          <div class="col-lg-12 mb-3" style="margin-top: 40px">
            <input
              nbInput
              [nbFilterInput]="dataSource"
              placeholder="{{ 'GENERALWORDS.SEARCH' | translate }}"
              id="search"
              class="search-input col-lg-4"
              style="float: right"
            />
          </div>
          <table
            [nbTreeGrid]="dataSource"
            [nbSort]="dataSource"
            (sort)="updateSort($event)"
          >
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr
              nbTreeGridRow
              *nbTreeGridRowDef="let row; columns: allColumns"
            ></tr>

            <ng-container [nbTreeGridColumnDef]="'BillID'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('BillID')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.BillID" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data.BillNumber || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'CashierName'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('CashierName')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.CASHIERNAME" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["CashierName"] || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'NetAmount'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('NetAmount')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.NETAMOUNT" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["totalAmount"] || "0" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'PaidAmount'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('PaidAmount')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.PAIDAMOUNT" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["paidAmount"] || "0" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'Remainder'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('Remainder')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.Rwminder" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["RemainderAmount"] || "0" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'PaymentMethod'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('PaymentMethod')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.PAYMENTMETHOD" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                <span *ngIf="row.data.PayByCash">{{ "GENERALWORDS.CASHPAYMENT" | translate }}</span>
                <span *ngIf="!row.data.PayByCash">{{ "GENERALWORDS.VISAPAYMENT" | translate }}</span>
              </td>
            </ng-container>
            
          </table>
        </div>

        <div class="row mb-4 align-items-end" [formGroup]="OutgoingData">

          <div class="col-md-3 mt-2" style="display: flex; flex-direction: column; align-items: start;">
            <label>{{ "GENERALWORDS.DATE1" | translate }}</label>

            <input
              style="width: 17rem"
              nbInput
              formControlName='Date3'
              placeholder='{{ "GENERALWORDS.DATE1" | translate }}'
              [nbDatepicker]="Date3"
            />
            <nb-datepicker #Date3></nb-datepicker>
          </div>

          <div class="col-md-3 mt-2" style="display: flex; flex-direction: column; align-items: start;">
            <label>{{ "GENERALWORDS.DATE2" | translate }}</label>

            <input
              style="width: 17rem"
              nbInput
              formControlName="Date4"
              placeholder='{{ "GENERALWORDS.DATE2" | translate }} '
              [nbDatepicker]="Date4"
            />
            <nb-datepicker #Date4></nb-datepicker>
          </div>

          <div class="col-md-12" style="margin-top: 28px; text-align: end">
            <div class="buttons-row">
              <button
                class="col-md-2"
                nbButton
                status="primary"
                (click)="SearchOutgoing()"
              >
              {{ "GENERALWORDS.SEARCH" | translate }}
              </button>
            </div>
          </div>

          <div class="col-lg-12 mb-3" style="margin-top: 40px">
            <input
              nbInput
              [nbFilterInput]="dataSource1"
              placeholder="{{ 'GENERALWORDS.SEARCH' | translate }}"
              id="search1"
              class="search-input col-lg-4"
              style="float: right"
            />
          </div>
          <table
            [nbTreeGrid]="dataSource1"
            [nbSort]="dataSource1"
            (sort)="updateSort1($event)"
          >
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns1"></tr>
            <tr
              nbTreeGridRow
              *nbTreeGridRowDef="let row; columns: allColumns"
            ></tr>

            <ng-container [nbTreeGridColumnDef]="'BillID'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('BillID')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.BillID" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data.BillNumber || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'CashierName'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('CashierName')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.CASHIERNAME" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["CashierName"] || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'NetAmount'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('NetAmount')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.NETAMOUNT" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["TotalAmount"] || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'PaidAmount'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('PaidAmount')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.PAIDAMOUNT" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["PaidAmount"] || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'Remainder'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('Remainder')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.Rwminder" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["RemainderAmount"] || "-" }}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'PaymentMethod'">
              <th
                nbTreeGridHeaderCell
                [nbSortHeader]="getSortDirection('PaymentMethod')"
                *nbTreeGridHeaderCellDef
              >
                {{ "GENERALWORDS.PAYMENTMETHOD" | translate }}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{ row.data["Status"] || "-" }}
              </td>
            </ng-container>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
