<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Client Picker</nb-card-header>
            <nb-card-body>
                <div class="row">

                    <div class="col-lg-12">
                        <label class="col-lg-12">Client ID</label>
                        <input type="text" class="col-lg-6" nbInput fullWidth shape="rectangle" placeholder="Client ID">

                    </div>

                    <div class="col-lg-6" style="top: 10px;" >
                        <label>Client Name</label>
                        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Client Name">

                    </div>



                    <div class="col-lg-6" style="top: 10px;">
                        <label>Pick Client</label>
                        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Pick Client">

                    </div>

                    <div class="col-lg-12" style="top: 20px; text-align: end;">
                        <button nbButton> Close</button> &nbsp;
                        <button nbButton status="danger"> Clear</button>
                    </div>

                </div>

                <div style="margin-top: 40px;">
                    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                    </ng2-smart-table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>